.footer {
  margin: 0 auto;
  width: 100%;
  background-color: #282c34;
  color: white;
  position: absolute;
  bottom: 0;
  height: 5%;
}

.footercopyright {
  float: left;
  text-align: center; 
  vertical-align: middle;
  height: fit-content;
  margin: 15px 0 0 10px;
}

.footersocial {
  float: right;
  margin: 8px 5px 0 0;
}