.logo {
  width: 300px !important;
  max-width: 300px;
  float: left;
  margin: 0 !important;
}

.divheader {
  background-color: #282c34;
  width: 100%;
  height: 85px;
  align-items: center;
  color: white;
  margin: 0 !important;
  padding: 10px !important;
}

.divbutton {
  float: right;
  margin: 16px 25px 0 0px !important;
  padding: 5px;
  border-radius: 10px !important;
  color: white;
  font-size: small;
}

.iconlarge {
  margin-top: 0 !important;
}

.header-content {
  color: white !important;
}
